# SQL Data Exploration: S&P 500 Historical Index (1927 – 2020)

---

## 1. Introduction

The **S&P 500** is one of the most widely followed equity indices, tracking the stock performance of 500 major companies listed on U.S. exchanges.  
In this project, we’ll explore its long-term historical trends using **SQL queries executed within Python** via a Jupyter Notebook.  

**Objective:**
- Analyze yearly trends in closing prices  
- Identify highs, lows, and volatility across years  
- Examine year-over-year changes in market performance  

---

## 2. Connecting With the Database

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%sql mysql+pymysql://root:Leeyah2005@localhost:3307/portfolio_projects_sp500

'Connected: root@portfolio_projects_sp500'

## 3. Previewing the Dataset

In [4]:
%%sql
SELECT * FROM portfolio_projects_sp500.sp500_history
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3307/portfolio_projects_sp500
10 rows affected.

[(datetime.date(1927, 12, 30), Decimal('17.66'), Decimal('17.66'), Decimal('17.66'), Decimal('17.66'), Decimal('17.66')),
 (datetime.date(1928, 1, 3), Decimal('17.76'), Decimal('17.76'), Decimal('17.76'), Decimal('17.76'), Decimal('17.76')),
 (datetime.date(1928, 1, 5), Decimal('17.55'), Decimal('17.55'), Decimal('17.55'), Decimal('17.55'), Decimal('17.55')),
 (datetime.date(1928, 1, 6), Decimal('17.66'), Decimal('17.66'), Decimal('17.66'), Decimal('17.66'), Decimal('17.66')),
 (datetime.date(1928, 1, 9), Decimal('17.50'), Decimal('17.50'), Decimal('17.50'), Decimal('17.50'), Decimal('17.50')),
 (datetime.date(1928, 1, 10), Decimal('17.37'), Decimal('17.37'), Decimal('17.37'), Decimal('17.37'), Decimal('17.37')),
 (datetime.date(1928, 1, 11), Decimal('17.35'), Decimal('17.35'), Decimal('17.35'), Decimal('17.35'), Decimal('17.35')),
 (datetime.date(1928, 1, 12), Decimal('17.47'), Decimal('17.47'), Decimal('17.47'), Decimal('17.47'), Decimal('17.47')),
 (datetime.date(1928, 1, 13), Decimal('17.58'), Decimal('17.58'), Decimal('17.58'), Decimal('17.58'), Decimal('17.58')),
 (datetime.date(1928, 1, 16), Decimal('17.29'), Decimal('17.29'), Decimal('17.29'), Decimal('17.29'), Decimal('17.29'))]

## 4. Dataset Overview

In [5]:
%%sql
SELECT COUNT(*) AS total_records,
       MIN(date) AS start_date,
       MAX(date) AS end_date
FROM sp500_history;

 * mysql+pymysql://root:***@localhost:3307/portfolio_projects_sp500
1 rows affected.

[(23322, datetime.date(1927, 12, 30), datetime.date(2020, 11, 4))]

## 5. Yearly Highs and Lows

In [6]:
%%sql
SELECT 
    YEAR(date) AS Year,
    MAX(high) AS Yearly_high,
    MIN(low) AS Yearly_low
FROM portfolio_projects_sp500.sp500_history
GROUP BY YEAR(date)
ORDER BY Year;

 * mysql+pymysql://root:***@localhost:3307/portfolio_projects_sp500
94 rows affected.

[(1927, Decimal('17.66'), Decimal('17.66')),
 (1928, Decimal('24.35'), Decimal('16.95')),
 (1929, Decimal('31.86'), Decimal('17.66')),
 (1930, Decimal('25.92'), Decimal('14.44')),
 (1931, Decimal('18.17'), Decimal('7.72')),
 (1932, Decimal('9.31'), Decimal('4.40')),
 (1933, Decimal('12.20'), Decimal('5.53')),
 (1934, Decimal('11.82'), Decimal('8.36')),
 (1935, Decimal('13.46'), Decimal('8.06')),
 (1936, Decimal('17.69'), Decimal('13.40')),
 (1937, Decimal('18.67'), Decimal('10.17')),
 (1938, Decimal('13.91'), Decimal('8.50')),
 (1939, Decimal('13.23'), Decimal('10.42')),
 (1940, Decimal('12.77'), Decimal('8.99')),
 (1941, Decimal('10.86'), Decimal('8.37')),
 (1942, Decimal('9.77'), Decimal('7.47')),
 (1943, Decimal('12.64'), Decimal('9.89')),
 (1944, Decimal('13.28'), Decimal('11.56')),
 (1945, Decimal('17.68'), Decimal('13.21')),
 (1946, Decimal('19.25'), Decimal('14.12')),
 (1947, Decimal('16.14'), Decimal('13.77')),
 (1948, Decimal('17.06'), Decimal('13.84')),
 (1949, Decimal('16.79'), Decimal('13.55')),
 (1950, Decimal('20.43'), Decimal('16.66')),
 (1951, Decimal('23.85'), Decimal('20.69')),
 (1952, Decimal('26.59'), Decimal('23.09')),
 (1953, Decimal('26.66'), Decimal('22.71')),
 (1954, Decimal('35.98'), Decimal('24.80')),
 (1955, Decimal('46.41'), Decimal('34.58')),
 (1956, Decimal('49.64'), Decimal('43.11')),
 (1957, Decimal('49.13'), Decimal('38.98')),
 (1958, Decimal('55.21'), Decimal('40.33')),
 (1959, Decimal('60.71'), Decimal('53.58')),
 (1960, Decimal('60.39'), Decimal('52.20')),
 (1961, Decimal('72.64'), Decimal('57.57')),
 (1962, Decimal('71.96'), Decimal('51.35')),
 (1963, Decimal('75.36'), Decimal('62.32')),
 (1964, Decimal('86.80'), Decimal('74.82')),
 (1965, Decimal('93.30'), Decimal('80.73')),
 (1966, Decimal('94.72'), Decimal('72.28')),
 (1967, Decimal('98.31'), Decimal('79.43')),
 (1968, Decimal('109.37'), Decimal('86.73')),
 (1969, Decimal('106.74'), Decimal('88.04')),
 (1970, Decimal('94.25'), Decimal('68.61')),
 (1971, Decimal('105.60'), Decimal('89.34')),
 (1972, Decimal('119.79'), Decimal('100.87')),
 (1973, Decimal('121.74'), Decimal('91.05')),
 (1974, Decimal('101.05'), Decimal('60.96')),
 (1975, Decimal('96.58'), Decimal('68.65')),
 (1976, Decimal('108.72'), Decimal('89.81')),
 (1977, Decimal('107.97'), Decimal('90.01')),
 (1978, Decimal('108.05'), Decimal('86.45')),
 (1979, Decimal('112.16'), Decimal('95.22')),
 (1980, Decimal('141.96'), Decimal('94.23')),
 (1981, Decimal('140.32'), Decimal('110.19')),
 (1982, Decimal('144.36'), Decimal('102.20')),
 (1983, Decimal('172.65'), Decimal('138.08')),
 (1984, Decimal('170.41'), Decimal('147.26')),
 (1985, Decimal('213.08'), Decimal('163.36')),
 (1986, Decimal('254.87'), Decimal('202.60')),
 (1987, Decimal('337.89'), Decimal('216.46')),
 (1988, Decimal('283.95'), Decimal('240.17')),
 (1989, Decimal('360.44'), Decimal('273.81')),
 (1990, Decimal('369.78'), Decimal('294.51')),
 (1991, Decimal('418.32'), Decimal('309.35')),
 (1992, Decimal('442.65'), Decimal('392.41')),
 (1993, Decimal('471.29'), Decimal('426.88')),
 (1994, Decimal('482.85'), Decimal('435.86')),
 (1995, Decimal('622.88'), Decimal('457.20')),
 (1996, Decimal('762.12'), Decimal('597.29')),
 (1997, Decimal('986.25'), Decimal('729.55')),
 (1998, Decimal('1244.93'), Decimal('912.83')),
 (1999, Decimal('1473.10'), Decimal('1205.46')),
 (2000, Decimal('1552.87'), Decimal('1254.07')),
 (2001, Decimal('1383.37'), Decimal('944.75')),
 (2002, Decimal('1176.97'), Decimal('768.63')),
 (2003, Decimal('1112.56'), Decimal('788.90')),
 (2004, Decimal('1217.33'), Decimal('1060.72')),
 (2005, Decimal('1275.80'), Decimal('1136.15')),
 (2006, Decimal('1431.81'), Decimal('1219.29')),
 (2007, Decimal('1576.09'), Decimal('1363.98')),
 (2008, Decimal('1471.77'), Decimal('741.02')),
 (2009, Decimal('1130.38'), Decimal('666.79')),
 (2010, Decimal('1262.60'), Decimal('1010.91')),
 (2011, Decimal('1370.58'), Decimal('1074.77')),
 (2012, Decimal('1474.51'), Decimal('1258.86')),
 (2013, Decimal('1849.44'), Decimal('1426.19')),
 (2014, Decimal('2093.55'), Decimal('1737.92')),
 (2015, Decimal('2134.72'), Decimal('1867.01')),
 (2016, Decimal('2277.53'), Decimal('1810.10')),
 (2017, Decimal('2694.97'), Decimal('2245.13')),
 (2018, Decimal('2940.91'), Decimal('2346.58')),
 (2019, Decimal('3247.93'), Decimal('2443.96')),
 (2020, Decimal('3588.11'), Decimal('2191.86'))]

## 6. Yearly Average Closing Price

In [7]:
%%sql
SELECT 
    YEAR(date) AS Year,     
    ROUND(AVG(close),2) AS avg_closing_price
FROM portfolio_projects_sp500.sp500_history
GROUP BY YEAR(date)
ORDER BY Year;

 * mysql+pymysql://root:***@localhost:3307/portfolio_projects_sp500
94 rows affected.

[(1927, Decimal('17.66')),
 (1928, Decimal('19.95')),
 (1929, Decimal('26.12')),
 (1930, Decimal('21.03')),
 (1931, Decimal('13.63')),
 (1932, Decimal('6.91')),
 (1933, Decimal('9.06')),
 (1934, Decimal('9.83')),
 (1935, Decimal('10.58')),
 (1936, Decimal('15.44')),
 (1937, Decimal('15.38')),
 (1938, Decimal('11.47')),
 (1939, Decimal('12.05')),
 (1940, Decimal('11.01')),
 (1941, Decimal('9.83')),
 (1942, Decimal('8.66')),
 (1943, Decimal('11.52')),
 (1944, Decimal('12.47')),
 (1945, Decimal('15.13')),
 (1946, Decimal('17.09')),
 (1947, Decimal('15.16')),
 (1948, Decimal('15.55')),
 (1949, Decimal('15.22')),
 (1950, Decimal('18.40')),
 (1951, Decimal('22.32')),
 (1952, Decimal('24.50')),
 (1953, Decimal('24.72')),
 (1954, Decimal('29.72')),
 (1955, Decimal('40.50')),
 (1956, Decimal('46.64')),
 (1957, Decimal('44.42')),
 (1958, Decimal('46.20')),
 (1959, Decimal('57.42')),
 (1960, Decimal('55.85')),
 (1961, Decimal('66.27')),
 (1962, Decimal('62.32')),
 (1963, Decimal('69.86')),
 (1964, Decimal('81.37')),
 (1965, Decimal('88.16')),
 (1966, Decimal('85.18')),
 (1967, Decimal('91.96')),
 (1968, Decimal('98.38')),
 (1969, Decimal('97.77')),
 (1970, Decimal('83.15')),
 (1971, Decimal('98.32')),
 (1972, Decimal('109.13')),
 (1973, Decimal('107.44')),
 (1974, Decimal('82.78')),
 (1975, Decimal('86.18')),
 (1976, Decimal('102.04')),
 (1977, Decimal('98.18')),
 (1978, Decimal('96.11')),
 (1979, Decimal('103.00')),
 (1980, Decimal('118.71')),
 (1981, Decimal('128.04')),
 (1982, Decimal('119.71')),
 (1983, Decimal('160.47')),
 (1984, Decimal('160.46')),
 (1985, Decimal('186.83')),
 (1986, Decimal('236.39')),
 (1987, Decimal('287.00')),
 (1988, Decimal('265.88')),
 (1989, Decimal('323.05')),
 (1990, Decimal('334.63')),
 (1991, Decimal('376.19')),
 (1992, Decimal('415.75')),
 (1993, Decimal('451.61')),
 (1994, Decimal('460.42')),
 (1995, Decimal('541.72')),
 (1996, Decimal('670.49')),
 (1997, Decimal('873.43')),
 (1998, Decimal('1085.50')),
 (1999, Decimal('1327.33')),
 (2000, Decimal('1427.22')),
 (2001, Decimal('1194.18')),
 (2002, Decimal('993.93')),
 (2003, Decimal('965.23')),
 (2004, Decimal('1130.65')),
 (2005, Decimal('1207.23')),
 (2006, Decimal('1310.46')),
 (2007, Decimal('1477.18')),
 (2008, Decimal('1220.04')),
 (2009, Decimal('948.05')),
 (2010, Decimal('1139.97')),
 (2011, Decimal('1267.64')),
 (2012, Decimal('1379.35')),
 (2013, Decimal('1643.80')),
 (2014, Decimal('1931.38')),
 (2015, Decimal('2061.07')),
 (2016, Decimal('2094.65')),
 (2017, Decimal('2449.08')),
 (2018, Decimal('2746.21')),
 (2019, Decimal('2913.36')),
 (2020, Decimal('3140.02'))]

## 7. Average Daily Range by Year

In [8]:
%%sql
SELECT
     YEAR(date) AS Year,
     ROUND(AVG(high-low),2) AS avy_daily_range
FROM portfolio_projects_sp500.sp500_history
GROUP BY YEAR(date)
ORDER BY Year;

 * mysql+pymysql://root:***@localhost:3307/portfolio_projects_sp500
94 rows affected.

[(1927, Decimal('0.00')),
 (1928, Decimal('0.00')),
 (1929, Decimal('0.00')),
 (1930, Decimal('0.00')),
 (1931, Decimal('0.00')),
 (1932, Decimal('0.00')),
 (1933, Decimal('0.00')),
 (1934, Decimal('0.00')),
 (1935, Decimal('0.00')),
 (1936, Decimal('0.00')),
 (1937, Decimal('0.00')),
 (1938, Decimal('0.00')),
 (1939, Decimal('0.00')),
 (1940, Decimal('0.00')),
 (1941, Decimal('0.00')),
 (1942, Decimal('0.00')),
 (1943, Decimal('0.00')),
 (1944, Decimal('0.00')),
 (1945, Decimal('0.00')),
 (1946, Decimal('0.00')),
 (1947, Decimal('0.00')),
 (1948, Decimal('0.00')),
 (1949, Decimal('0.00')),
 (1950, Decimal('0.00')),
 (1951, Decimal('0.00')),
 (1952, Decimal('0.00')),
 (1953, Decimal('0.00')),
 (1954, Decimal('0.00')),
 (1955, Decimal('0.00')),
 (1956, Decimal('0.00')),
 (1957, Decimal('0.00')),
 (1958, Decimal('0.00')),
 (1959, Decimal('0.00')),
 (1960, Decimal('0.00')),
 (1961, Decimal('0.00')),
 (1962, Decimal('1.06')),
 (1963, Decimal('0.88')),
 (1964, Decimal('0.94')),
 (1965, Decimal('1.11')),
 (1966, Decimal('1.50')),
 (1967, Decimal('1.49')),
 (1968, Decimal('1.75')),
 (1969, Decimal('1.70')),
 (1970, Decimal('1.72')),
 (1971, Decimal('1.51')),
 (1972, Decimal('1.67')),
 (1973, Decimal('2.20')),
 (1974, Decimal('2.08')),
 (1975, Decimal('1.84')),
 (1976, Decimal('1.63')),
 (1977, Decimal('1.34')),
 (1978, Decimal('1.55')),
 (1979, Decimal('1.60')),
 (1980, Decimal('2.61')),
 (1981, Decimal('2.60')),
 (1982, Decimal('1.92')),
 (1983, Decimal('1.60')),
 (1984, Decimal('1.60')),
 (1985, Decimal('1.47')),
 (1986, Decimal('2.65')),
 (1987, Decimal('4.92')),
 (1988, Decimal('3.23')),
 (1989, Decimal('3.09')),
 (1990, Decimal('4.35')),
 (1991, Decimal('4.13')),
 (1992, Decimal('3.41')),
 (1993, Decimal('3.19')),
 (1994, Decimal('3.77')),
 (1995, Decimal('3.90')),
 (1996, Decimal('6.76')),
 (1997, Decimal('12.46')),
 (1998, Decimal('16.94')),
 (1999, Decimal('20.35')),
 (2000, Decimal('26.10')),
 (2001, Decimal('20.71')),
 (2002, Decimal('19.97')),
 (2003, Decimal('13.27')),
 (2004, Decimal('10.74')),
 (2005, Decimal('10.57')),
 (2006, Decimal('11.12')),
 (2007, Decimal('17.29')),
 (2008, Decimal('30.72')),
 (2009, Decimal('18.06')),
 (2010, Decimal('15.29')),
 (2011, Decimal('20.05')),
 (2012, Decimal('14.58')),
 (2013, Decimal('13.88')),
 (2014, Decimal('16.54')),
 (2015, Decimal('22.53')),
 (2016, Decimal('19.55')),
 (2017, Decimal('12.49')),
 (2018, Decimal('32.36')),
 (2019, Decimal('24.18')),
 (2020, Decimal('54.84'))]

## 8.Year-over-Year Percentage Change

In [13]:
%%sql
WITH yearly_closing_avg AS (
    SELECT 
        YEAR(date) AS Year,
        ROUND(AVG(close), 2) AS avg_closing_price
    FROM portfolio_projects_sp500.sp500_history
    GROUP BY YEAR(date)
)
SELECT
    Year,
    avg_closing_price,
    LAG(avg_closing_price) OVER (ORDER BY Year) AS prev_avg_closing_price,
    ROUND(
        (
            avg_closing_price - LAG(avg_closing_price) OVER (ORDER BY Year)
        ) / LAG(avg_closing_price) OVER (ORDER BY Year) * 100,
        2
    ) AS pct_change_in_avg_closing_price
FROM yearly_closing_avg
ORDER BY Year;

 * mysql+pymysql://root:***@localhost:3307/portfolio_projects_sp500
94 rows affected.

[(1927, Decimal('17.66'), None, None),
 (1928, Decimal('19.95'), Decimal('17.66'), Decimal('12.97')),
 (1929, Decimal('26.12'), Decimal('19.95'), Decimal('30.93')),
 (1930, Decimal('21.03'), Decimal('26.12'), Decimal('-19.49')),
 (1931, Decimal('13.63'), Decimal('21.03'), Decimal('-35.19')),
 (1932, Decimal('6.91'), Decimal('13.63'), Decimal('-49.30')),
 (1933, Decimal('9.06'), Decimal('6.91'), Decimal('31.11')),
 (1934, Decimal('9.83'), Decimal('9.06'), Decimal('8.50')),
 (1935, Decimal('10.58'), Decimal('9.83'), Decimal('7.63')),
 (1936, Decimal('15.44'), Decimal('10.58'), Decimal('45.94')),
 (1937, Decimal('15.38'), Decimal('15.44'), Decimal('-0.39')),
 (1938, Decimal('11.47'), Decimal('15.38'), Decimal('-25.42')),
 (1939, Decimal('12.05'), Decimal('11.47'), Decimal('5.06')),
 (1940, Decimal('11.01'), Decimal('12.05'), Decimal('-8.63')),
 (1941, Decimal('9.83'), Decimal('11.01'), Decimal('-10.72')),
 (1942, Decimal('8.66'), Decimal('9.83'), Decimal('-11.90')),
 (1943, Decimal('11.52'), Decimal('8.66'), Decimal('33.03')),
 (1944, Decimal('12.47'), Decimal('11.52'), Decimal('8.25')),
 (1945, Decimal('15.13'), Decimal('12.47'), Decimal('21.33')),
 (1946, Decimal('17.09'), Decimal('15.13'), Decimal('12.95')),
 (1947, Decimal('15.16'), Decimal('17.09'), Decimal('-11.29')),
 (1948, Decimal('15.55'), Decimal('15.16'), Decimal('2.57')),
 (1949, Decimal('15.22'), Decimal('15.55'), Decimal('-2.12')),
 (1950, Decimal('18.40'), Decimal('15.22'), Decimal('20.89')),
 (1951, Decimal('22.32'), Decimal('18.40'), Decimal('21.30')),
 (1952, Decimal('24.50'), Decimal('22.32'), Decimal('9.77')),
 (1953, Decimal('24.72'), Decimal('24.50'), Decimal('0.90')),
 (1954, Decimal('29.72'), Decimal('24.72'), Decimal('20.23')),
 (1955, Decimal('40.50'), Decimal('29.72'), Decimal('36.27')),
 (1956, Decimal('46.64'), Decimal('40.50'), Decimal('15.16')),
 (1957, Decimal('44.42'), Decimal('46.64'), Decimal('-4.76')),
 (1958, Decimal('46.20'), Decimal('44.42'), Decimal('4.01')),
 (1959, Decimal('57.42'), Decimal('46.20'), Decimal('24.29')),
 (1960, Decimal('55.85'), Decimal('57.42'), Decimal('-2.73')),
 (1961, Decimal('66.27'), Decimal('55.85'), Decimal('18.66')),
 (1962, Decimal('62.32'), Decimal('66.27'), Decimal('-5.96')),
 (1963, Decimal('69.86'), Decimal('62.32'), Decimal('12.10')),
 (1964, Decimal('81.37'), Decimal('69.86'), Decimal('16.48')),
 (1965, Decimal('88.16'), Decimal('81.37'), Decimal('8.34')),
 (1966, Decimal('85.18'), Decimal('88.16'), Decimal('-3.38')),
 (1967, Decimal('91.96'), Decimal('85.18'), Decimal('7.96')),
 (1968, Decimal('98.38'), Decimal('91.96'), Decimal('6.98')),
 (1969, Decimal('97.77'), Decimal('98.38'), Decimal('-0.62')),
 (1970, Decimal('83.15'), Decimal('97.77'), Decimal('-14.95')),
 (1971, Decimal('98.32'), Decimal('83.15'), Decimal('18.24')),
 (1972, Decimal('109.13'), Decimal('98.32'), Decimal('10.99')),
 (1973, Decimal('107.44'), Decimal('109.13'), Decimal('-1.55')),
 (1974, Decimal('82.78'), Decimal('107.44'), Decimal('-22.95')),
 (1975, Decimal('86.18'), Decimal('82.78'), Decimal('4.11')),
 (1976, Decimal('102.04'), Decimal('86.18'), Decimal('18.40')),
 (1977, Decimal('98.18'), Decimal('102.04'), Decimal('-3.78')),
 (1978, Decimal('96.11'), Decimal('98.18'), Decimal('-2.11')),
 (1979, Decimal('103.00'), Decimal('96.11'), Decimal('7.17')),
 (1980, Decimal('118.71'), Decimal('103.00'), Decimal('15.25')),
 (1981, Decimal('128.04'), Decimal('118.71'), Decimal('7.86')),
 (1982, Decimal('119.71'), Decimal('128.04'), Decimal('-6.51')),
 (1983, Decimal('160.47'), Decimal('119.71'), Decimal('34.05')),
 (1984, Decimal('160.46'), Decimal('160.47'), Decimal('-0.01')),
 (1985, Decimal('186.83'), Decimal('160.46'), Decimal('16.43')),
 (1986, Decimal('236.39'), Decimal('186.83'), Decimal('26.53')),
 (1987, Decimal('287.00'), Decimal('236.39'), Decimal('21.41')),
 (1988, Decimal('265.88'), Decimal('287.00'), Decimal('-7.36')),
 (1989, Decimal('323.05'), Decimal('265.88'), Decimal('21.50')),
 (1990, Decimal('334.63'), Decimal('323.05'), Decimal('3.58')),
 (1991, Decimal('376.19'), Decimal('334.63'), Decimal('12.42')),
 (1992, Decimal('415.75'), Decimal('376.19'), Decimal('10.52')),
 (1993, Decimal('451.61'), Decimal('415.75'), Decimal('8.63')),
 (1994, Decimal('460.42'), Decimal('451.61'), Decimal('1.95')),
 (1995, Decimal('541.72'), Decimal('460.42'), Decimal('17.66')),
 (1996, Decimal('670.49'), Decimal('541.72'), Decimal('23.77')),
 (1997, Decimal('873.43'), Decimal('670.49'), Decimal('30.27')),
 (1998, Decimal('1085.50'), Decimal('873.43'), Decimal('24.28')),
 (1999, Decimal('1327.33'), Decimal('1085.50'), Decimal('22.28')),
 (2000, Decimal('1427.22'), Decimal('1327.33'), Decimal('7.53')),
 (2001, Decimal('1194.18'), Decimal('1427.22'), Decimal('-16.33')),
 (2002, Decimal('993.93'), Decimal('1194.18'), Decimal('-16.77')),
 (2003, Decimal('965.23'), Decimal('993.93'), Decimal('-2.89')),
 (2004, Decimal('1130.65'), Decimal('965.23'), Decimal('17.14')),
 (2005, Decimal('1207.23'), Decimal('1130.65'), Decimal('6.77')),
 (2006, Decimal('1310.46'), Decimal('1207.23'), Decimal('8.55')),
 (2007, Decimal('1477.18'), Decimal('1310.46'), Decimal('12.72')),
 (2008, Decimal('1220.04'), Decimal('1477.18'), Decimal('-17.41')),
 (2009, Decimal('948.05'), Decimal('1220.04'), Decimal('-22.29')),
 (2010, Decimal('1139.97'), Decimal('948.05'), Decimal('20.24')),
 (2011, Decimal('1267.64'), Decimal('1139.97'), Decimal('11.20')),
 (2012, Decimal('1379.35'), Decimal('1267.64'), Decimal('8.81')),
 (2013, Decimal('1643.80'), Decimal('1379.35'), Decimal('19.17')),
 (2014, Decimal('1931.38'), Decimal('1643.80'), Decimal('17.49')),
 (2015, Decimal('2061.07'), Decimal('1931.38'), Decimal('6.71')),
 (2016, Decimal('2094.65'), Decimal('2061.07'), Decimal('1.63')),
 (2017, Decimal('2449.08'), Decimal('2094.65'), Decimal('16.92')),
 (2018, Decimal('2746.21'), Decimal('2449.08'), Decimal('12.13')),
 (2019, Decimal('2913.36'), Decimal('2746.21'), Decimal('6.09')),
 (2020, Decimal('3140.02'), Decimal('2913.36'), Decimal('7.78'))]

## Insigths and Conclusion

**Observations:**
- The index shows a consistent long-term upward trend.  
- Significant declines can be observed around 1930, 2008, and 2020.  
- Post-1980s, the growth rate appears steeper, reflecting stronger U.S. market performance.